

.box {
	position: relative;
}

.controls {
	position: fixed;
	width: 400px;
	top: 250px;
	right: 40px;
	border: 6px solid gray;
	opacity: 0.6;
}

.controls-item {
	width: 100%;
	display: flex;
	border-bottom: 1px solid gray;
	padding: 3px;
	font-size: 14px;
}

.controls-item.selected {
	background-color: gray;
	color: #eee;
}

.controls-item-icon {
	width: 30%;
}

.controls-item-label {
}


.controls-item-label label {
	font-size: 20px;
}

.controls-item-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.controls-item-icon div {
	width:20px;
	height:20px;
}

.controls-item-icon .largeDiff {
	background: red;
}

.controls-item-icon .smallDiff {
	background: purple;
}

.controls-item-icon .minimalDiff {
	background: blue;
}

.box-content {
	display: grid;
	grid-template-columns: 60% 40%;
}

.large-image {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.5);
	display: none;
	z-index: 1;
}

.large-image .container{
	width: 100%;
	height: 100%;
	padding: 1%;
	display: flex;	
	justify-content: center;
}


.large-image img {
	height: 100%;
}

.image-block {
	display: grid;
	grid-template-columns: 50% 30%;
	padding: 20px;
}


.image-block .info {
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}


.largeDiff img {
	border: 4px solid red;
}

.smallDiff img {
	border: 4px solid purple;
}

.minimalDiff img {
	border: 4px solid blue;
}

.largeDiff.image-label {
	color: red;
}

.smallDiff.image-label {
	color: purple;
}

.minimalDiff.image-label {
	color: blue;
}
